/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

html { 
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* { 
  color: #050608;
}

.widthLimit90 { 
  max-width: 90%;
}

.centerCenter { 
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center; 
  justify-content: center;
  height: 100%;
}

.centerPage { 
  display: flex;
  justify-content: center;
}

.homeText {
  margin-top: 0px;
}

.homeTopText {
  margin-top: 10px;
}

.homeDisclaimer {
  margin-top: 20px;
  color: crimson;
}

.scenarioText { 
 font-size: 1rem;
}

/************** 
*** BUTTONS ***
**************/

.bigButton { 
  border: solid black 2px;
  border-radius: 10px;
  background-color: gray;
  align-self: center;
  margin-top: 5px;
  width: 20px;
  padding: 5px 10px;
}

.gameButton {
  border: solid black 2px;
  border-radius: 12px;
  align-self: center;
  width: 150px;
  margin-top: 5px;
  padding: 10px 20px;
}

.exitButton { 
  border: solid gray 1px;
  background-color: lightgrey;
  margin-top: 20px;
  width: 200px;
  padding: 5px 10px;
  align-self: center;

}

.takeShot {
  color: white;
  background-color: maroon;
  margin-top: 40px;
}

.holdFire { 
  color: white;
  background-color: darkgreen;
}

#playButton { 
  background-color: #050608;
  color: white;
  font-size: 1.3rem;
  width: 20%;
  margin-top: 5%;
}
/***************
****** IMAGES ***
***************/
.gameImage { 
  width: 300px;
  height: 300px;
  align-self: center;
  margin-top: 20px;
}

.loadingImage {
  display: none;
  height: 100px;
  width: 100px;
  margin: 120px 0 100px 0;
  align-self: center;
}

.gamePage { 
  flex-direction: column;
}

/*******************
 ***** BACKGROUND ****
********************/

 /* html { 
  background: rgb(111,16,16);
background: radial-gradient(circle, rgba(111,16,16,1) 0%, rgba(255,255,255,0) 100%);
} */
 

/**************************
*** PAGE VISIBILITY
**************************/
#instructionsPage { 
  display: none;
}

#scenariosPage { 
  display: none;
}

#resultsPage { 
  display: none;
}